
<div class="sidebar w-full h-full">
    <ul class="flex flex-col justify-normal items-center gap-3 w-full">
        <li class=" w-[85%] flex flex-row cursor-pointer justify-start items-center px-3 py-1 rounded-md gap-2 bg-fuchsia-600">
            <fa-icon class=" text-xl text-white" [icon]="faHome"></fa-icon>
            <h2 class="text-white text-base font-semibold">Home</h2>
        </li>

        <li class=" w-[85%] flex flex-row cursor-pointer justify-start items-center px-2 py-1 rounded-md gap-2">
            <fa-icon class=" text-xl text-black" [icon]="faSettings"></fa-icon>
            <h2 class="text-black text-base font-semibold">Settings</h2>
        </li>

        
        <li class=" w-[85%] flex flex-row cursor-pointer justify-start items-center px-1 py-1 rounded-md gap-2">
            <!-- <fa-icon class=" text-base text-black" [icon]="faPlus"></fa-icon> -->
            <fa-icon class="text-base  cursor-pointer text-black border border-black font-bold rounded-full bg-white px-[5px]" [icon]="faPlus"></fa-icon>

            <h2 class="text-black text-base font-semibold">Add New Task</h2>
        </li>

                
        <li class=" w-[85%] flex flex-row cursor-pointer justify-start items-center px-2 py-1 rounded-md gap-2">
            <fa-icon class=" text-xl text-black" [icon]="faGoal"></fa-icon>
            <h2 class="text-black text-base font-semibold">Add Goals</h2>
        </li>
    </ul>

</div>